In [70]:
import pyspark.sql.functions as F
from pyspark.sql import * 

spark=SparkSession.builder.appName('Challenge_Question').getOrCreate()

In [71]:
df_users=spark.read.csv('users.csv',header=True,inferSchema=True)

In [72]:
df_departments=spark.read.csv('departments.csv',header=True,inferSchema=True)

In [73]:
df_users.printSchema()
df_departments.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- dept_id: integer (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- salary_increment: integer (nullable = true)

In [74]:
df_users.columns
df_departments.columns

['id', 'dept_name', 'salary_increment']

In [78]:
a=df_users.alias('a')
b=df_departments.alias('b')

In [133]:
updated_salaries=a.join(b,a.dept_id==b.id, 'left').select(a.id,   ((a.salary * b.salary_increment/100) + a.salary).alias("New_Salary"))

updated_salaries.show()

+-----+----------+
|   id|New_Salary|
+-----+----------+
|10000|    4291.1|
|10001|   6312.35|
|10002|    7077.2|
|10003|  11241.25|
|10004|  10942.25|
|10005|   10546.9|
|10006|   10979.8|
|10007|   6021.25|
|10008|    6064.3|
|10009|    5931.7|
|10010|    6444.1|
|10011|    4250.4|
|10012|   7883.25|
|10013|    9200.1|
|10014|   9373.75|
|10015|   4909.35|
|10016|    9753.9|
|10017|    5262.4|
|10018|  11648.75|
|10019|   10289.4|
+-----+----------+
only showing top 20 rows